*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    transition: ease-out 0.5s;
}

:root, :root[data-theme="dark"] {
    --primary-color: #0c1221;
    --primary-bg-color: #003c8a;
    --secondary-bg-color: #78beff;
    --border-color: #c7e3fb;
    --text-color: #edf2f4;
    --title-color: #3d8fcd;
    --project-bg-color: #272727;
    --project-item-color: #efefef;
}

:root, :root[data-theme="light"] {
    --primary-color: #e4f6ff;
    --primary-bg-color: #133b74;
    --secondary-bg-color: #183b9a;
    --border-color: #3f85ff;
    --text-color: #1595f6;
    --title-color: #2e6edd;
    --project-bg-color: #272727;
    --project-item-color: #efefef;
}