*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    transition: ease-out 0.5s;
}

:root, :root[data-theme="dark"] {
    --primary-color: #0c1221;
    --primary-bg-color: #0f4070;
    --secondary-bg-color: #62a5f8;
    --border-color: #012db1;
    --text-color: #edf2f4;
    --title-color: #3d8fcd;
    --project-bg-color: #272727;
    --project-item-color: #efefef;
}

:root, :root[data-theme="light"] {
    --primary-color: #e4f6ff;
    --primary-bg-color: #0f3c7c;
    --secondary-bg-color: #1b4c95;
    --border-color: #4498ff;
    --text-color: #1595f6;
    --title-color: #2e6edd;
    --project-bg-color: #272727;
    --project-item-color: #efefef;
}